$white: white;
// white(11), #fff(4),#ffffff(1)を$whiteに置換
// 白色
$whitesmoke: whitesmoke;
// whitesmoke(5), #f0f0f0(2), #f8f8f8(5)を$whitesmokeに置換
// 薄いグレー
$light_gray: #eee;
// #dedede(2), #eee(3), #ccc(2)を$light_grayに置換
//  淡いグレー
$gray: gray;
// rgb(128, 124, 124); ??  グレー
// #999999(2) ?? グレーを少し明るくした色
// darkgray(1) ??
// gray(2)
// 灰色
$light_blue: #3ccace;
// #3ccace(14), turquoise(1)を$light_blueに置換
// 水色
$black: #333;
// #333(3), black(2), #000(1)を$blackに置換
// #333333(1) 墨色?
// #4e5863(1) ??
// 黒色

$red: red;
// red(3)
// 赤色

