= render 'items/header'
.user-cog
  = render "users/mypage/mypage-side"
  .user-cog__right
    .user-cog__right__logout
      = link_to "#", class: "user-cog__right__logout__btn" do
        ログアウト
= render 'items/footer'