.mypage__main
  .mypage__user__icon
    名前
  .mypage__main__header__score
    評価
    %li.mypage__main__header__items
      出品数
  .user-info
    .user-info__left 
      お知らせ
    .user-info__right
      やることリスト
  .user-deal
    .user-deal__header
    %p 購入した商品
    .user-deal__left
      取引中
    .user-deal__right
      過去の取引
