.item__body {
  width: 100%;
  height: 100%;
  padding-bottom: 50px;
  overflow-y: scroll;
  &__title {
    padding-top: 30px;
    color: #3ccace;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
  }

  &__lists {
    margin: 33px auto;
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
    justify-content: center;
    &::before {
      content: "";
      display: block;
      order: 1;
      width: 220px;
      height: 250px;
      margin-left: 10px;
      margin-right: 10px;
    }
  
    &::after {
      content: "";
      display: block;
      width: 220px;
      margin-left: 10px;
      margin-right: 10px;
      height: 250px;
    }
    &__list{
      width: 220px;
      height: 250px;
      display: inline-block;
      
      position: relative;
      margin: 20px 10px 0 10px;
      a{
        background-color: #fff;
        display: inline-block;
        position: relative;

        figure{
          width: 220px;
          height: 150px;
          position: relative;
          overflow: hidden;
          margin: 0;
          z-index: auto;

          img{
            width: 100%;
            z-index: auto;
            height: 150px;
            object-fit: cover;
          }
          .sold-label {
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            width: 1px;
            height: 1px;
            border-top: 36px solid red;
            border-right: 36px solid transparent;
            border-bottom: 36px solid transparent;
            border-left: 36px solid red;
          }
          .sold-label__inner {
            position: absolute;
            z-index: 1;
            top: 12px;
            left: 0;
            color: #fff;
            transform: rotate(-45deg);
            font-size: 20px;
            letter-spacing: 2px;
            font-weight: bold;
          }
        }
      }
      .list__body{
        color:#333;
        padding: 7px;
        .name{
          width: 220px;
          overflow: hidden;
          line-height: 1.5;
          font-size: 16px;
          text-align: left;
          text-overflow: ellipsis;
          white-space: nowrap;
          color: black;

        }
        &--wrapper{
          position: relative;
          display: flex;
          .list__price{
            font-size: 13px;
            color: #333333;
            width: 62px;
            ul{
              display: flex;
              justify-content: space-between;
              list-style: none;
              font-size: 15px;
              li{
                color: #333333;
              }
              .unit{
                margin-left: 5px;
              }
            }
            p{
              font-size: 12px;
              text-align: left;
              color: #333333;
              font-weight: normal;
            }
          }
          .list-btn{
            position: absolute;
            right: 0;
            bottom: 0;
            &__edit {
              display: block;
              width: 50px;
              color: #3ccace;
              font-size: 14px;
              font-weight: bold;
              padding-left: 10px;
              
            }
            &__delete{
              display: block;
              width: 50px;
              color: red;
              font-size: 14px;
              font-weight: bold;
              margin-left: 10px;
            }
          }
        }
        
      }
      .list__sold{
        width: 0;
        height: 0;
        border-top: 40px solid red;
        border-right: 40px solid transparent;
        border-bottom: 40px solid transparent;
        border-left: 40px solid red;
        z-index:1;
        position: absolute;
        top: 0px;
        left: 0px;
        &__inner{
          color: #fff;
          transform: rotate(-45deg);
          font-size: 20px;
          margin:-16px 0px 0px -32px;
          letter-spacing: 2px;
          font-weight: bold;
        }
      }
    }
  }
  .none_lists {
    text-align: center;
    // margin: 30px 0 400px 0;
    margin-top: 30px;
    font-size: 20px;
  }
}