.main-contens {
  background-color: white;
  
  .visual {
    background-color: gray;
    width: 100%;
    height: 560px;
    background-image: image-url("bg-mainVisual-pict_pc.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
    padding: 0 60px;
    display: flex;
    align-items: center;

    &__content {
      max-width: 1280px;
      width: 100%;
      margin: 0 auto;
      padding: 35px 0 0 0;

      &__subtitle {
        text-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
        font-size: 60px;
        color: white;
        line-height: 1.2;
      }

      &__text {
        text-shadow: 0 0 5px rgba(0, 0, 0, 1.4);
        font-size: 18px;
        color: #fff;
        line-height: 1.77;
        margin: 16px 0 0 0;
      }

      &__btn {
        display: flex;
        margin-top: 24px;

        a {
          width: 180px;
          margin-right: 20px;

          img {
            width: 180px;
            vertical-align: bottom;
          }
        }
      }
    }
  }

  .topIntroduction {
    padding: 60px 20px;

    .subtitle {
      text-align: center;
      font-size: 26px;
      line-height: 1.4;
      font-weight: bold;
      margin-bottom: 25px;
      padding-bottom: 15px;
      position: relative;
    }

    .lists {
      text-align: center;
      display: flex;
      width: 100%;
      max-width: 1020px;
      margin: 0 auto;

      .list {
        width: 30%;
        margin: 16px 5% 0 0;
        text-align: left;
        display: flex;
        align-items: center;
        flex-direction: column;

        &__gazo {
          position: relative;
          margin-bottom: 20px;

          .number {
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0;
            font-size: 30px;
            margin: 0 5px 0 0;
            padding: 10px 20px;
            background-color: #3ccace;
            color: white;
          }

          .gazo {
            width: 100%;
            vertical-align: bottom;
          }
        }

        .list__text {
          font-weight: bold;
          font-size: 24px;
          line-height: 50px;

          .text {
            color: #3ccace;
          }
        }

        p {
          font-size: 18px;
          line-height: 1.5;
          margin: 16px 0 0;
        }
      }
    }
  }

  .visual2 {
    background-image: image-url("bg-topMiddleDl-pict.jpg");
    background-position: bottom right;
    background-size: cover;
    height: 400px;
    display: flex;
    align-items: center;

    &__inner {
      color: white;
      text-align: left;
      max-width: 1040px;
      width: 100%;
      margin: 0 auto;

      &__subtitle {
        text-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
        font-size: 27px;
        font-weight: bold;
        line-height: 1.4;
      }

      &__text {
        text-shadow: 0 0 5px rgba(0, 0, 0, 1.4);
        font-size: 18px;
        margin: 20px 0 30px;
        line-height: 1.5;
      }

      &__btn {
        display: flex;

        a {
          margin-right: 10px;

          img {
            width: 180px;
          }
        }
      }
    }
  }

  .feature {
    background-color: white;
    padding: 60px 100px;

    .head {
      font-size: 27px;
      text-align: center;
      margin: 0 0 40px;
      font-weight: bold;
      margin-bottom: 25px;
      padding-bottom: 15px;
      position: relative;
    }

    .items {
      max-width: calc(1040px + 20px);
      width: 100%;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;

      .item {
        display: flex;
        flex-direction: column;
        width: calc(1 / 3 * 100%);
        text-align: center;
        padding: 0 20px;

        &__img {
          width: 70%;
          margin: 0 auto;
          line-height: 120px;

          &__icon {
            width: 100%;
            vertical-align: bottom;
          }
        }

        &__subtitle {
          margin: 38px 0 10px;
          font-size: 19px;
          font-weight: bold;
        }

        &__detail {
          font-size: 17px;
          font-weight: 200;
          text-align: left;
          margin: 0 0 40px;
        }
      }
    }
  }

  .pickupCategory {
    background-color: #f8f8f8;
    padding: 80px 0 0;
    height: 100%;
    padding-bottom: 80px;

    .head {
      text-align: center;
      font-size: 28px;
      line-height: 1.4;
      font-weight: bold;
    }

    .productBox {
      .productHead {
        text-align: center;

        a {
          font-size: 24px;
          text-decoration: none;
          color: #3ccace;

          .title {
            font-weight: bold;
          }
        }
      }

      .productLists {
        width: 900px;
        margin: 26px auto;
        display: flex;
        overflow-x: scroll;

        .productList {
          width: 220px;
          display: inline-block;
          padding-right: 10px;

          a {
            display: inline-block;
            background-color: white;
            text-decoration: none;

            .productList--img {
              width: 220px;
              height: 150px;
              position: relative;
              overflow: hidden;
              margin: 0;
              z-index: auto;

              .image__category {
                position: absolute;
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;
                width: 100%;
                z-index: auto;
                height: 150px;
                object-fit: cover;
              }
            }
            .productList--body {
              background-color: white;
              color: black;
              padding: 16px;

              .product--name {
                overflow: hidden;
                line-height: 1.5;
                font-size: 16px;
                text-align: left;
              }

              .details {
                font-size: 16px;

                ul {
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
  
                  i {
                    -webkit-font-smoothing: antialiased;
                    display: inline-block;
                    font-style: normal;
                    font-variant: normal;
                    text-rendering: auto;
                    line-height: 1;
                  }
                }

                p {
                  font-size: 10px;
                  text-align: left;
                }
              }
            }
          }
        }
      }
    }
  }

  .pickupBrand {
    background-color: #f8f8f8;
    padding: 80px 0 0;
    height: 100%;
    padding-bottom: 80px;

    .head {
      text-align: center;
      font-size: 28px;
      line-height: 1.4;
      font-weight: bold;
    }

    .productBox {
      .productHead {
        text-align: center;

        a {
          font-size: 24px;
          color: #3ccace;
          text-decoration: none;

          .title {
            font-weight: bold;
          }
        }
      }

      .productLists {
        width: 900px;
        margin: 26px auto;
        display: flex;
        overflow-x: scroll;

        .productList {
          width: 220px;
          padding-right: 10px;
          display: inline-block;

          a {
            display: inline-block;
            background-color: white;
            text-decoration: none;

            .productList--img {
              width: 220px;
              height: 150px;
              position: relative;
              overflow: hidden;
              margin: 0;
              z-index: auto;

              .image__category {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 100%;
                z-index: auto;
                height: 150px;
                object-fit: cover;
              }
            }
          

            .productList--body {
              background-color: white;
              color: black;
              padding: 16px;

              .product--name {
                overflow: hidden;
                line-height: 1.5;
                font-size: 16px;
                text-align: left;
              }

              .details {
                font-size: 16px;

                ul {
                  display: flex;
                  align-items: center;
                  justify-content: space-between;

                  i {
                    -webkit-font-smoothing: antialiased;
                    display: inline-block;
                    font-style: normal;
                    font-variant: normal;
                    text-rendering: auto;
                    line-height: 1;
                  }
                }

                p {
                  font-size: 10px;
                  text-align: left;
                }
              }
            }
          }
        }
      }
    }
  }
}

.appVisual3 {
  background-image: image-url("bg-appBanner-pict.jpg");
  padding: 100px 40px;
  position: relative;
  background-size: cover;
  background-position: center;

  .inner {
    color: white;
    text-align: center;

    &__title {
      text-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
      font-size: 24px;
      font-weight: bold;
      line-height: 1.4;
    }

    &__text {
      font-size: 35px;
      text-shadow: 0 0 5px rgba(0, 0, 0, 1.4);
    }

    &__btn {
      width: 100%;
      display: flex;
      justify-content: center;
      margin: 20px auto 0;

      a {
        width: 180px;
        margin-right: 20px;

        img {
          width: 180px;
          vertical-align: bottom;
        }
      }
    }
  }
}

.footer {
  text-align: center;
  background-color: rgb(34, 34, 34);
  color: white;
  padding: 40px 0;
  bottom: 0;
  width: 100%;

  &__Inners {
    &__top {
      max-width: 840px;
      margin: 0 auto;
      display: flex;

      .inputbox {
        margin: 0 2% 0 0;
        width: calc(1 / 3 * 100%);
        flex-direction: column;
        display: flex;

        p {
          margin: 0 0 20px;
          font-size: 16px;
          font-weight: bold;
        }

        ul {
          a {
            color: white;
            text-decoration: none;
            font-size: 12px;
            line-height: 38px;
          }
        }
      }
    }

    &__bottom {
      width: 100%;
      margin: 0 auto;
      max-width: 160px;

      a {
        width: 100px;

        img {
          width: 100%;
        }
      }

      p {
        font-size: 13px;
      }
    }
  }
}

.sell {
  bottom: 32px;
  font-size: 22px;
  height: 160px;
  right: 32px;
  width: 160px;
  text-align: center;
  z-index: 2;
  position: fixed;

  a {
    display: block;
    color: inherit;
    text-decoration: none;

    .photoBtn {
      width: 160px;
      height: 160px;
      padding-top: 32px;
      background-color: #3ccace;
      text-align: center;
      border-radius: 50%;
      bottom: 32px;
      right: 32px;
      position: fixed;
      padding: 15px;

      &__text {
        color: white;
        display: block;
        font-size: 22px;
        text-decoration: none;
        margin-bottom: 5px;
      }

      &__icon {
        width: 60%;
      }
    }
  }
}