.footer
  .footer__Inners
    %ul.footer__Inners__top
      %li.inputbox
        %p FURIMAについて
        %ul
          %li
            %a{:href => "#"}
              会社概要(運営会社)
          %li
            %a{:href => "#"}
              プライバシーポリシー
          %li
            %a{:href => "#"}
              FURIMA利用規約
          %li
            %a{:href => "#"}
              ポイントに関する特約
      %li.inputbox
        %p FURIMAをみる
        %ul
          %li
            %a{:href => "#"}
              カテゴリー一覧
          %li
            %a{:href => "#"}
              ブランド一覧
      %li.inputbox
        %p ヘルプ＆ガイド
        %ul
          %li
            %a{:href => "#"}
              FURIMAガイド
          %li
            %a{:href => "#"}
              FURIMAロゴ利用ガイドライン
          %li
            %a{:href => "#"}
              お知らせ
    .footer__Inners__bottom
      %a{:href => "#"}
        %img{:src => "/assets/logo-white.png"}/
      %p &copy; FURIMA