= render 'items/header'
.mypage
  = render "users/mypage/mypage-side"
  .after-resist
    %p.after-resist__text
      登録が完了しました
  .back-mypage
    = link_to card_path(current_user), class: "back-mypage__link" do
      %span.back-mypage__link--text
        戻る
= render 'items/footer'