.login-content{
  box-sizing: border-box;
  background-color: whitesmoke;
  .login-header {
    width:100vw;
    background-color: white;
  }
  .login-main {
    background-color: whitesmoke;
    height: 800px;
    width: 100vw;
    &__container {
      background-color: white;
      width: 600px;
      margin: 50px auto;
      padding-bottom: 50px;
      &__title {
        height: 50px;
        line-height: 20px;
        font-size: 20px;
        text-align: center;
        border-bottom: 1px whitesmoke solid;
        padding: 15px;
        font-weight: bolder;
      }
      &__form{
        height: 100%;
        padding-left: 160px;
        .login__contents{
          width: 300px;
          height: 100%;
          .new_user {
            margin-bottom: 20px;
            margin-top: 50px;
            .items-group{
              font-size: 16px;
              &__input {
                margin-bottom: 40px;
                border-radius: 5px;
                width: 280px;
                height: 40px;
              }
              .login-btn {
                width: 280px;
                height: 40px;
                background-color: #3ccace;
                color: white;
              }
            }
          }
        }
      }
    }
  }
}
