.sign-content {
  box-sizing: border-box;
  background-color: whitesmoke;
  .sin-header {
    background-color: white;
  }
  .profile-main {
    background-color: whitesmoke;
    width: 100vw;
    height: 740px;
    &__content {
      background-color: white;
      width: 600px;
      margin: 50px auto;
      padding-bottom: 50px;
      &__title {
        height: 50px;
        line-height: 20px;
        font-size: 20px;
        text-align: center;
        border-bottom: 1px whitesmoke solid;
        padding: 15px;
        font-weight: bolder;
      }
      .profile-main__form {
        background-color: white;
        height: 100%;
        padding-left: 160px;
        .profile__form {
          background-color: white;
          width: 300px;
          height: 100%;
          .new_profile {
            margin-top: 50px;
            height: 100%;
            .profile-group {
              font-size: 16px;
              margin-top: 20px;
              .field_with_errors {
                display: contents;
              }
              &__input--left {
                margin-bottom: 40px;
                border-radius: 5px;
                width: 130px;
                height: 40px;
              }
              &__input--right {
                margin-bottom: 40px;
                margin-right: 20px;
                border-radius: 5px;
                width: 130px;
                height: 40px;
                float: right;
              }
              #profile_birth_day_1i,#profile_birth_day_2i,#profile_birth_day_3i{
                margin-bottom: 40px;
                border-radius: 5px;
                width: 80px;
                height: 40px;
              }
              &__require {
              background-color: #3ccace;
              border: solid 1px #3ccace;
              color:  white;
              }
              .profile-btn {
                width: 280px;
                height: 40px;
                background-color: #3ccace;
                color:  white;
              }
            }
          }
        }
      }
    }
  }
}